<!DOCTYPE html>
<html>
  <head>
    <title>Add Client</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/clientform.css" />
    <link href="https://fonts.googleapis.com/css?family=Knewave|Quicksand|Shadows+Into+Light" rel="stylesheet">
  </head>
<h1>Add a Specialty</h1>
<form action="/specialty/add" method="post">
  <label for="newDescription">Add a new Specialty</label>
  <input id="newDescription" name="newDescription" type="text" required>
  <button type="submit">Submit</button>
</form>
<a href="/"> Go Home </a>
