body
{
  background-color: #E3B23C;
}

h1
{
  font-family: 'Knewave', cursive;
  font-size: 78px;
  text-align: center;
}

label
{
  font-family:'Quicksand', sans-serif;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 24px;
}

input
{
  border-radius: 10px;
  color: #040F16;
  font-family:'Quicksand', sans-serif;
  font-weight: 600;
}

form
{
  margin-top: 42px;
  text-align: center;
}
button
{
  background-color: #EDEBD7;
  border-radius: 20px;
  border: 1px solid black;
  color: #080705;
  font-family: 'Knewave', cursive;
}
