<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/homepage.css" />
  <link href="https://fonts.googleapis.com/css?family=Knewave|Quicksand|Shadows+Into+Light" rel="stylesheet">
</head>
<body>
  <div class= "jumbotron">
    <h1 class="bigFont">Bangs</h1>
    <h2>Hair Salon</h2>
  </div>
  <div class="buttons">
    <a class="btn btn-lg" href="/stylist/add" role="button">Add a new Stylist</a> <br>
    <a class="btn btn-lg" href="/client/add" role="button">Add a new Client</a><br>
    <a class="btn btn-lg" href="/stylist/index" role="button">View All Stylist</a><br>
    <a class="btn btn-lg" href="/client/index" role="button">View All Clients</a><br>
  </div>
</body>
</html>
