<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <div class= "jumbotron jumbotron-success">
    <h1>Blunt Kutters</h1><br>
    <a href="/stylist/add">Add a new Stylist</a>
    <a href="/client/add">Add a new Client</a>
  </div>

</html>
