<h1>Bangs</h1>
<h2>Delete Stylist: @Model.GetName()</h2>
<h3>Are you sure you want to Delete @Model.GetName()</h3>
<form action="/stylist/@Model.GetId()/Delete" method="post">
    <button type="submit">Yes, Delete</button>
</form>
<h4><a href="/stylist/index">Return to Stylists List</a></h4>
