<h1>Bangs</h1>
<h2>Delete All Stylist</h2>
<h3>Are you sure you want to remove all Stylists?</h3>
<form action="/stylist/DeleteAll" method="post">
    <button type="submit">Yes, Delete</button>
</form>
<h4><a href="/stylist/index">Return to Stylists List</a></h4>
