<!DOCTYPE html>
<html>
  <head>
    <title>Add Stylist</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <h1>New Stylist</h1>
  <form action="/stylist/listofstylists" method="post">
    <label for="newStylist">Add a new Stylist</label>
    <input id="newStylist" name="newStylist" type="text" required>
    <label for="newSpecialty">Add their specialty!</label>
    <input id="newSpecialty" name="newSpecialty" type="text" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/all">View All Stylist</a>
</html>
