<!DOCTYPE html>
<html>
  <head>
    <title>Add Stylist</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/stylistform.css" />
    <link href="https://fonts.googleapis.com/css?family=Knewave|Quicksand|Shadows+Into+Light" rel="stylesheet">
  </head>
  <h1>New Stylist</h1>
  <form action="/stylist/add" method="post">
    <label for="newName">Add a new Stylist</label>
    <input id="newName" name="newName" type="text" required><br>
    <label for="newSpecialty">Add their specialty!</label>
    <input id="newSpecialty" name="newSpecialty" type="text" required>
    <button type="submit">Submit</button>
  </form>
  <div class="photo"><img src="~/img/stylist.png"/></div>
  <a href="/stylist/index">View All Stylist</a>
</html>
