<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>\
  <link rel="stylesheet" type="text/css" href="~/css/clientpage.css" />
  <link href="https://fonts.googleapis.com/css?family=Knewave|Quicksand|Shadows+Into+Light" rel="stylesheet">
</head>
<div class="jumbotron">
  <h1>Stylists</h1>
</div>
<div class="clients">
@foreach (var stylists in Model)
{
  <div class="card" style="width: 18rem; background-color:#b3c2d8">
    <div class="card-body">
      <h5 class="card-title">@stylists.GetName()</h5>
      <h6 class="card-subtitle mb-2 text-muted">@stylists.GetSpecialty()</h6>
      <a href="/stylist/@stylists.GetId()/clients" class="card-link">Clients</a> ||
      <a href="/stylist/@stylists.GetId()/delete">Remove Stylist</a>
    </div>
  </div>
}
</div>
<a href="/">Back to Home</a><br>
<a href="/">Delete All Stylists</a>
</html>
